{% extends 'main.html' %}
{% load static %}

{% block content%}

<link rel="stylesheet" type="text/css" href="{% static 'css/homeStyle.css' %}">

<div class="home-container">

    <div>
        {% include 'base/topic_component.html' %}
    </div>

    <div>
        <h5>{{room_count}} rooms available</h5>
        <a href="{% url 'create-room' %}">Create Room</a>
    
        {% include 'base/feed_component.html' %}
    </div>

    <div>
        {% include 'base/activity_component.html' %}
    </div>

</div>

{% endblock content %}